.text {

    margin: 0;

    line-height: 1.7;

    font-family: var(--font-body);

}

.text--small {

    font-size: .875rem;

}

.text--default {

    font-size: 1rem;

}

.text--large {

    font-size: 1.125rem;

}

.text--left {

    text-align: left;

}

.text--center {

    text-align: center;

}

.text--right {

    text-align: right;

}

.text--regular {

    font-weight: 400;

}

.text--medium {

    font-weight: 500;

}

.text--bold {

    font-weight: 700;

}

.text--default {

    color: var(--color-text);

}

.text--muted {

    color: var(--color-text-light);

}

.text--primary {

    color: var(--color-primary);

}

.text--secondary {

    color: var(--color-secondary);

}

.text--success {

    color: var(--color-success);

}

.text--warning {

    color: var(--color-warning);

}

.text--danger {

    color: var(--color-danger);

}

.text--white {

    color: var(--color-white);

}