.toast-container {

    position: fixed;

    top: 24px;

    right: 24px;

    display: flex;

    flex-direction: column;

    gap: 16px;

    z-index: 99999;

    pointer-events: none;

}

.toast-container>* {

    pointer-events: auto;

}

@media(max-width:768px) {

    .toast-container {

        top: 16px;

        left: 16px;

        right: 16px;

    }

}