.breadcrumb {

    display: flex;

    align-items: center;

    flex-wrap: wrap;

    gap: 8px;

    font-size: .9rem;

}

.breadcrumb__item {

    display: flex;

    align-items: center;

    gap: 8px;

}

.breadcrumb__item a {

    color: var(--color-primary);

    text-decoration: none;

}

.breadcrumb__item span {

    color: var(--color-text-light);

}