.image-viewer {

    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 500px;

    overflow: auto;

    background: #f8fafc;

}

.image-viewer img {

    max-width: 100%;

    max-height: 70vh;

    transition: .25s;

    object-fit: contain;

}

.image-viewer__footer {

    display: flex;

    gap: 12px;

}

.image-viewer__footer button {

    width: 44px;

    height: 44px;

    display: flex;

    justify-content: center;

    align-items: center;

    border: none;

    border-radius: 10px;

    background: var(--color-primary);

    color: white;

    cursor: pointer;

}